{
    "extends": [
        "incredible"
    ],
    "globals": {
        "Backbone": "readonly",
        "window": "writable",
        "$": "readonly",
        "_": "readonly",
        "document": "writable"
    },
    "overrides": [
        {
            "files": ["bin/*.js"],
            "rules": {
                "node/no-unpublished-import": 0
            }
        }
    ]
}
