.container {
    height: 35px;
    display: flex;
    margin-bottom: 5px;
    flex-direction: row;
    align-items: center;

    .star {
        height: 12px;
        margin-right: 5px;
        cursor: pointer;
    }

    .price {
        font-size: 16px;
        cursor: copy;
    }

    .symbol {
        font-size: 16px;
        margin-left: 5px;
        line-height: 30px;
    }
}
