$input_heigth:28px;
$mobile_width:250px;
$mobile_input_width:80%;

:global(#exchange_rates) {
    list-style-type: none;

    li {
        margin-left: -20px;
    }
}

body {
    max-width: 400px;
    min-width: 120px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

    @media (max-width: $mobile_width) {
        flex-direction: column;
    }

    input[name=amount] {
        border: 1px solid #aaa;
        padding: 4px;
        width: 50%;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 16px;
        height: $input_heigth;

        @media (max-width: $mobile_width) {
            width: $mobile_input_width;
            margin-bottom: 10px;
        }
    }

    .from_symbol_container {
        width: 40%;

        @media (max-width: $mobile_width) {
            width: $mobile_input_width;
        }

        :global(.select2-container--default .select2-selection__clear){
            margin-right: 2px !important;
        }
    }

}


.add_symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: $input_heigth;
    
    :global(#add_symbol) {
        width: $input_heigth;
        height: 100%;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;

        svg {
            height: inherit;
            width: inherit;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            
            border: 1px solid #aaa;
            border-left: none;
            border-radius: 0px 4px 4px 0px;
        }
    }
    
    .add_symbol_container{
        height: 100%;
        width: 40%;
        
        @media (max-width: $mobile_width) {
            width: calc($mobile_input_width - $input_heigth);
        }
        
        :global(.select2-container--default .select2-selection--single) {
            border-radius: 4px 0px 0px 4px;
        }
    }
}

// normalize

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}